// Place all the styles related to the display controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	color: #5F6062;
  font-size: 16px;
  font-family: helvetica, arial;
	margin: 0;
  padding: 0;
}

header{
  background: #EEE;
	padding: 0 0.5em 3em 0.5em;
	//position: fixed;
	width: 100%;
}

header h2 {
  font-size: 20px;
  margin: 0.5em 0.5em 0 0.5em;
}

header p {
  margin: 0.2em 0 0 0.8em;
  font-size: 0.8em;
}

hgroup {
  width: 60%;
}

#logo{
  float: right;
  margin: 0.5em 1em 1em 0.5em;
}

#logo img{
  width: 90px;
}

#title{
  height: 3em;
}

#title, #logo {
  display: inline-block;
  vertical-align: top;
}

#yield {
  padding: 0.5em 1.5em;
}


@media screen and (min-width:768px){
  header h2 { 
    font-size: 26px;
  }
  header p {
    margin-left: 1em;
  }
  #logo img {
    width: 127px;
  }
}
