<!DOCTYPE html>
<html>
<head>
  <title>Surveys</title>
  <%= stylesheet_link_tag    "display", :media => "all" %>
  <%= javascript_include_tag "display" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
